<a href="https://colab.research.google.com/github/chat2sathya/hello-world/blob/master/Random_Forest_Regressor_example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
##Import Pandas and Numpy libraries

import numpy as np
import pandas as pd

In [2]:
#Upload the file into Colab from local disk

'''

from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))
  
'''

'\n\nfrom google.colab import files\nuploaded = files.upload()\n\nfor fn in uploaded.keys():\n  print(\'User uploaded file "{name}" with length {length} bytes\'.format(name=fn, length=len(uploaded[fn])))\n  \n'

In [0]:
# Read the csv into a DataFrame object

data = pd.read_csv("insurance.csv")

In [4]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [5]:
data.shape

(1338, 7)

In [0]:
# Convert the columns having categorical values (String) into Categorical values and add it as a new column in the DataFrame

data['sex_f'] = pd.factorize(data['sex'])[0]
data['smoker_f'] = pd.factorize(data['smoker'])[0]
data['region_f'] = pd.factorize(data['region'])[0]

In [7]:
data.head()

   age     sex   bmi  children  ...  expenses sex_f  smoker_f  region_f
0   19  female  27.9         0  ...  16884.92     0         0         0
1   18    male  33.8         1  ...   1725.55     1         1         1
2   28    male  33.0         3  ...   4449.46     1         1         1
3   33    male  22.7         0  ...  21984.47     1         1         2
4   32    male  28.9         0  ...   3866.86     1         1         2

[5 rows x 10 columns]

In [8]:
# Select the features.
# Here 2 features are created to check which gets us a better prediction

features1 = ['age','sex_f','bmi','children','smoker_f','region_f']
features2 = ['age','sex_f','bmi','children','smoker_f']

X1 = data[features1]
X2 = data[features2]

y = data.expenses

print(X1.head())
print(X2.head())
print(y.head())

   age  sex_f   bmi  children  smoker_f  region_f
0   19      0  27.9         0         0         0
1   18      1  33.8         1         1         1
2   28      1  33.0         3         1         1
3   33      1  22.7         0         1         2
4   32      1  28.9         0         1         2
   age  sex_f   bmi  children  smoker_f
0   19      0  27.9         0         0
1   18      1  33.8         1         1
2   28      1  33.0         3         1
3   33      1  22.7         0         1
4   32      1  28.9         0         1
0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [0]:
# Split the data for training and testing for the 2 models

from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y, test_size=0.7, random_state=2)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y, test_size=0.7, random_state=2)

In [10]:
# Train the models using the Random Forest Regressor

from sklearn.ensemble import RandomForestRegressor

model1 = RandomForestRegressor()
model2 = RandomForestRegressor()

model1.fit(X1_train, y1_train)
model2.fit(X2_train, y2_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
# Predict using the 2 models

y1_pred = model1.predict(X1_test)
y2_pred = model2.predict(X2_test)

In [12]:
type(y1_pred)

numpy.ndarray

In [0]:
# Generate the prediction using the 2 models and add it as a new column in the DataFrame

data['y1_pred'] = model1.predict(X1)
data['y2_pred'] = model2.predict(X2)

In [14]:
data.head()

   age     sex   bmi  children  ... smoker_f region_f    y1_pred    y2_pred
0   19  female  27.9         0  ...        0        0  17557.183  17076.780
1   18    male  33.8         1  ...        1        1  13438.207  11753.683
2   28    male  33.0         3  ...        1        1   6758.006   8647.353
3   33    male  22.7         0  ...        1        2  11046.623   6834.014
4   32    male  28.9         0  ...        1        2   4128.689   4170.150

[5 rows x 12 columns]

In [15]:
# Check which model gives us better prediction by checking the Mean Absolute error (MAE).
# The better model will have less MAE

from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse

check_mae1 = mae(y1_test, y1_pred)
print(check_mae1)


check_mse1 = mse(y1_test, y1_pred)
print(check_mse1)

check_mae2 = mae(y2_test, y2_pred)
print(check_mae2)


check_mse2 = mse(y2_test, y2_pred)
print(check_mse2)

3082.718723585913
28422535.479769867
3062.1585652792605
28718209.674967367